.card {
    height: 200px;
    background-color: rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

.card > h1 {
    color: rgb(0, 153, 255);
}

.card > h2 {
    color: rgb(0, 255, 0);
}

.card > p {
    color: white;
}