.card {
    height: 200px;
    background-color: rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

.card > h1 {
    font-weight: 800;
    letter-spacing: 0.1rem;
    color: rgb(0,191,220);
}

.card > h2 {
    font-weight: 800;
    letter-spacing: 0.3rem;
    color: #2bff00;
}

.card > p {
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.08rem;
    color: whitesmoke;
}