.header {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    margin-bottom: 30px;
}

.header__left {
    flex: 0.9;
}

.header__left > h1 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 4vw;
    letter-spacing: 0.8vw;
    color: rgba(255, 255, 255, 0.919);
}

.header__right {
    text-align: center;
    flex: 0.1;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.919);
}

.header__right:hover {
    /* opacity: 0.9; */
    cursor: pointer;
    background-color: gainsboro;
    color: #383838;
}

.header__right > button > h3 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2vw;
    font-size: 2vw;
    color: rgb(60, 60, 60) !important;
}